// BETA SCHEME:
$primary_colour: #0a0a0a;
$secondary_colour: #fdfdfd;
$highlight-colour: #407961;
$highlight-colour-active: #ad8df7;
$highlight-colour-hover: #1d5c40;

// Article background:
$div-colour: #242424;

// // BLACK WHITE AND GREY:
// $primary_colour: #262625;
// $secondary_colour: #d9d4cc;
// $highlight-colour: #bfbbb4;
// $highlight-colour-active: #ffffff;
// $highlight-colour-hover: #b6afa3;

// // Article background:
// $div-colour: #595856;

// // BETA SCHEME:
// $primary_colour: #080808;
// $secondary_colour: white;
// $highlight-colour: #6d3cdc;
// $highlight-colour-active: #ad8df7;
// $highlight-colour-hover: #502ca3;

// // Article background:
// $div-colour: #414141;
