@use "./colours" as c;

.App {
  // FLEX BOX
  display: flex;
  flex-direction: column;
  align-items: center;

  // STYLE
  background-color: c.$primary_colour;

  // background-image: url("../../public/images/pw_maze_black.png");
  // background-repeat: repeat;
  // background-attachment: fixed;
}

.Article-ref {
  width: 100%;
  z-index: 1;
}