@use "./colours" as c;

.Header {
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // position:sticky;
  // top: 0;

  /* SIZE */
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;

  /* STYLE */
  // background-color: c.$primary_colour;
  // background: repeating-linear-gradient(
  //   180deg, 
  //   rgb(51, 51, 51) 0px, /* line color at the start */
  //   rgba(51, 51, 51, 1) 1px, /* line width */
  //   rgba(0, 0, 0, 0) 1px, /* transparent gap */
  //   rgba(0, 0, 0, 0) 65px /* space between lines */
  // );
}

.Hero {
  /* STYLE */
  color: c.$secondary_colour;

  /* FONT */
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 180px;
  text-align: center;
  /* line-height: 0.67em; */
  line-height: 6.3vw;
  letter-spacing: -0.2rem;

  /* (REMOVE THIS) Find a better way to center text?.... */
  margin-top: 150px;
}

.Hero-text {
  margin: 0px;
}