@use "./colours" as c;

.Logo {
  /* FLEXBOX */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: 15vw;
  margin-right: 7vw;
  min-width: 185.53px;
  // transform: scaleX(1.05);

  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-align: center;

  // font-family: "Work Sans", sans-serif;
  // font-optical-sizing: auto;
  // font-style: normal;
  // font-weight: 600;
  // font-size: 28px;

  /* STYLE */
  // cursor: pointer;
  user-select: none;

  color: c.$secondary-colour;
  text-underline-offset: 5px;
}

.Logo-text {
  display: flex;
  align-items: center;
  margin: 0px;
  position: relative;
}

.fa-cat {
  padding: 5px;
  transform: translateY(-3px);
  font-size: 20px;
  display: none;
}

.Logo-text:hover .fa-cat {
  display: block;
}

.fa-cat:hover {
  user-select: none;
  color: c.$secondary-colour;
}

// .Logo p::first-letter {
//   font-weight: 700;
// }

// .Logo:hover {
//   text-decoration: underline;
// }

@media (max-width: 750px) {
  .Logo {
    margin-left: 8vw;
  }
}
