@use "./colours" as c;

.ParallaxText {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 100%;
  height: 150px;

  // background-color: c.$highlight-colour;
  color: c.$div-colour;
}

.ParallaxText-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  will-change: transform;
  transition: transform 0.7s ease-out;
}

.ParallaxText-list li {
  padding: 12px;

  font-size: 170px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  list-style-type: none;
}

@media (max-width: 750px) {
  .ParallaxText {
    height: 8em;
    background-color: c.$div-colour;
  }
  .ParallaxText-list li {
    font-size: 9em;
    padding-top: 0px;
    padding-bottom: 2px;
    color: c.$primary-colour;
  }
}
